page-home {
   
}


h1{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 5px 5px 20px rgba(0,0,0,0.3);
 
    font-family:  sans-serif;
    

}


.input{

	margin-top: 35%;

	width: 100%;
	display: block;

	font-size: 25px;

	marign-top: 30px;
	padding: 5px 10px;

	border-radius: 30px;
	border:none;
}

.btn{
	width: 50%;
	display:block;
	text-align: center;
	padding: 5px 0;
	font-size: 25px;
	border:none;
	border-radius: 30px;
	background-color: #08D71C;
	margin: 15px auto;
	color:white;
	font-weigth: 1000px;
}